// Contact area start here ***
.contact {
	&-area {
		overflow: hidden;
		@include bg-image;
	}
	&__wrp {
		max-width: 1085px;
		float: right;
	}
	&__form {
		background-color: #ffffffb2;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		padding: 130px 120px;
		@include breakpoint(max-md) {
			padding: 60px 30px;
		}
		form {
			max-width: 850px;
			input,
			textarea {
				width: 100%;
				padding: 14px 20px;
				border: 1px solid transparent;
				color: var(--black);
				background-color: var(--white);
				transition: var(--transition);
				&::placeholder {
					color: var(--black);
				}
				&:focus {
					border: 1px solid var(--border);
				}
			}
			textarea {
				height: 240px;
				resize: none;
				border-radius: 20px;
			}
		}
		.nice-select {
			border-radius: 0;
		}
		&.dark-area {
			background-color: #101010b2;
			form {
				max-width: 850px;
				input,
				textarea {
					&::placeholder {
						color: #131313;
					}
				}
			}
		}
	}
}
// Contact area end here ***

// Contact two area start here ***
.contact-two {
	&-area {
		overflow: hidden;
	}
	&-left {
		background-color: var(--white);
		padding: 80px;
		@include breakpoint(max-md) {
			padding: 30px 20px;
		}
	}
	&__content {
		ul {
			li {
				margin-bottom: 10px;
				@include flex;
				color: var(--paragraph);
				svg {
					margin-right: 10px;
				}
				@include breakpoint(max-md) {
					font-size: 14px;
				}
			}
		}
	}
	&__form {
		margin-top: 150px;
		@include breakpoint(max-md) {
			margin-top: 60px;
		}
		form {
			.input {
				input {
					width: 100%;
					border: none;
					border-bottom: 1px solid var(--black);
					padding-bottom: 20px;
					@include breakpoint(max-md) {
						padding-bottom: 10px;
					}
				}
			}
			.textarea {
				textarea {
					width: 100%;
					border: none;
					border-bottom: 1px solid var(--black);
					padding-bottom: 20px;
					resize: none;
					height: 120px;
				}
			}
		}
	}
	&__map {
		position: relative;
		z-index: 1;
		img {
			width: 100%;
		}
		.location {
			position: absolute;
			top: 40px;
			left: 20%;
			img {
				width: unset;
			}
			@include breakpoint(max-md) {
				img {
					width: 200px;
				}
			}
		}
	}
}
// Contact two area end here ***

// Contact four area start here ***
.contact-four {
	&-area {
		overflow: hidden;
		@include bg-image;
	}
	&__wrp {
		max-width: 1460px;
		margin: 0 auto;
	}
}
// Contact four area end here ***
