// Funfact area start here ***
.funfact {
	&-area {
		overflow: hidden;
		background-color: var(--black);
	}
	&__item {
		ul {
			margin-bottom: 65px;
			@include breakpoint(max-md) {
				margin-bottom: 30px;
			}
			li {
				font-size: 18px;
				color: var(--paragraph-light);
				font-weight: 500;
				@include flex;
				gap: 8px;
				i {
					font-size: 14px;
				}
				&:not(:last-child) {
					margin-bottom: 5px;
				}
			}
		}
		h2 {
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: var(--white);
			font-size: 136px;
			line-height: 136px;
			span {
				color: inherit;
			}
			padding-bottom: 15px;
			border-bottom: 1px solid #ffffff33;
			margin-bottom: 25px;

			@include breakpoint(max-md) {
				font-size: 80px;
				line-height: 80px;
			}
		}
	}
}
// Funfact area end here ***
