// Marquee four area start here ***
.marquee {
	&-area {
		overflow: hidden;
	}
	&__wrp {
		position: relative;
	}
	&__slide {
		display: flex;
		position: relative;
		&.marquee-revers {
			.marquee__item-wrp {
				position: relative;
				-webkit-animation: slide-har-revers 0s linear infinite;
				animation: slide-har-revers 30s linear infinite;
				@-webkit-keyframes slide-har-revers {
					100% {
						-webkit-transform: translateX(0%);
						transform: translateX(0%);
					}
					0% {
						-webkit-transform: translateX(-100%);
						transform: translateX(-100%);
					}
				}

				@keyframes slide-har-revers {
					100% {
						-webkit-transform: translateX(0%);
						transform: translateX(0%);
					}
					0% {
						-webkit-transform: translateX(-100%);
						transform: translateX(-100%);
					}
				}
			}
		}
	}

	&__item {
		padding: 0 30px;
		h2 {
			font-size: 80px;
			line-height: 84px;
			font-weight: 700;
			text-transform: uppercase;
			white-space: nowrap;
			@include breakpoint(max-lg) {
				font-size: 40px;
				line-height: 50px;
			}
		}

		.stroke-text {
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #121c2733;
			text-transform: uppercase;
			white-space: nowrap;
		}

		&-wrp {
			display: flex;
			align-items: center;
			position: relative;
			-webkit-animation: slide-har 30s linear infinite;
			animation: slide-har 30s linear infinite;
			@-webkit-keyframes slide-har {
				0% {
					-webkit-transform: translateX(0%);
					transform: translateX(0%);
				}
				100% {
					-webkit-transform: translateX(-100%);
					transform: translateX(-100%);
				}
			}
			@keyframes slide-har {
				0% {
					-webkit-transform: translateX(0%);
					transform: translateX(0%);
				}
				100% {
					-webkit-transform: translateX(-100%);
					transform: translateX(-100%);
				}
			}
		}
	}
}
// Marquee four area end here ***
