// Solution area start here ***
.solution {
	&-area {
		overflow: hidden;
		@include bg-image;
		&.have-padding {
			padding-top: 300px;
			@include breakpoint(max-lg) {
				padding-top: 250px;
			}
		}
	}
	&__wrp {
		max-width: 1290px;
		margin: 0 auto;
	}
	&__header {
		ul {
			margin-top: 30px;
			li {
				font-size: 18px;
				font-weight: 500;
				@include flex;
				gap: 15px;
				color: var(--white);
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}
	}
	&__item {
		.image {
			overflow: hidden;
			img {
				transition: 0.9s;
			}
		}
		.content {
			.sub-title {
				padding: 20px 0;
				border-bottom: 1px solid var(--border-light);
				margin-bottom: 30px;
				color: var(--white);
			}
			.title {
				.number {
					display: inline-block;
					@include radius(50px, 50px, 50px);
					max-width: 50px;
					width: 100%;
					background-color: #ffffff4d;
					backdrop-filter: blur(30px);
					color: var(--white);
					font-size: 24px;
					font-weight: 600;
					font-family: var(--font-title);
					transition: var(--transition);
				}
				@include flex;
				gap: 30px;
			}
		}
		&:hover {
			.image {
				img {
					transform: scale(1.1);
					filter: grayscale(100%);
				}
			}
			.content {
				.number {
					background-color: var(--white);
					color: var(--black);
				}
			}
		}
	}
}
// Solution area end here ***
