// Video area start here ***
.video {
	&-area {
		overflow: hidden;
	}
	&__wrp {
		height: 430px;
		position: relative;
		z-index: 1;
		@include bg-image;
	}
	&__btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
// Video area end here ***

// Video two area start here ***
.video-two {
	&-area {
		overflow: hidden;
	}
	&__wrp {
		height: 580px;
		position: relative;
		z-index: 1;
		@include bg-image;
	}
	&__btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
// Video two area end here ***

// Video three area start here ***
.video-three {
	&-area {
		overflow: hidden;
	}
	&__wrp {
		height: 430px;
		position: relative;
		z-index: 1;
		@include bg-image;
		height: 600px;
	}
}
// Video three area end here ***
